name: Release Checks

on:
  push:
    branches:
      - 'release/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: ESLint
        run: npx eslint "src/**/*.{ts,tsx}"
        if: always()
      - name: Prettier
        run: npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"
        if: always()

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: typecheck
        run: npx tsc --noEmit
        if: always()